<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>列表渲染v-for</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            padding: 50px;
        }
    </style>
</head>
<body>
<div id="app">
    <fieldset>
        <legend>v-for遍历数组，第一个参数为数组元素，第二个参数为index</legend>
        <ul v-if="list.length>0">
            <li v-for="(item, index) in list">{{index}}----{{item}}</li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>v-for遍历对象，key和value形式；同时支持将in换成of</legend>
        <ul v-if="obj">
            <ol v-for="(v,k) of obj">{{k}}-----{{v}}</ol>
        </ul>
    </fieldset>
    <fieldset>
        <legend>v-for 采用不同的template渲染</legend>
        <ul v-if="arr.length>0">
            <template v-for="(item, index) in  arr">
                <li v-if="item.flag">{{item.msg}}</li>
                <ol v-else>{{item.msg}}</ol>
            </template>
        </ul>
    </fieldset>
    <fieldset>
        <legend>v-for 整数迭代</legend>
        <ul>
            <li v-for="item in 10">{{item}}</li>
        </ul>
    </fieldset>
</div>
<div id="comp" style="margin:20px 0px;">
    <input style="    line-height: 28px; min-width: 228px;" type="text" v-model.trim="text" placeholder="请输入enter键新增数据"
           v-on:keydown.enter="add"/>
    <ul>
        <li is="list-item" v-on:click="removeItem(index, $event)" v-for="(item, index) in list" v-bind:desc="item.title"
            v-bind:index="index"></li>
    </ul>
</div>
<div id="dynamic">
    <template v-if="list">
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </template>

    <input type="button" value="getServerData" @click="getData"/>
    <input type="button" value="Add Random" @click="addRandom"/>
    <input type="button" value="Remove Random Data" @click="removeRandom"/>
</div>
<div id="filter">
    <fieldset>
        <legend>Sort Skill</legend>
        <ul>
            <li v-for="item in sortArr">{{item}}</li>
        </ul>
    </fieldset>
    <input type="button" @click="sort($event)" value="改变数组的值"/>
</div>
<script src="lib/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            list: [
                'one', 'two', 'three', 'four', 'five', 'six'
            ],
            obj: {
                username: 'linq',
                age: 18,
                address: 'china'
            },
            arr: [
                {flag: true, msg: '111111111111111111111'},
                {flag: false, msg: 'ggggggggggggggggggggg'},
                {flag: true, msg: '9999999999999999999999'},
            ]
        }
    });
</script>
<script>
    Vue.component('list-item', {
        props: ['desc', 'index'],
        template: '<ol>{{index+1}}---{{desc}} <button @click="$emit(\'click\')" style="margin-left: 30px;padding:2px 5px;">X</button></ol>'
    });

    var vm2 = new Vue({
        el: '#comp',
        data: {
            list: [{
                title: 'my first test data'
            }],
            text: ''
        },
        methods: {
            add: function () {
                if (this.text) {
                    this.list.push({title: this.text});
                }
            },
            removeItem: function (index, e) {
                this.list.splice(index, 1);
            }
        }
    });

</script>
<script>
    //(1)数组变异方法[pop、push、shift、unshift、splice、sort、reverse]
    //(2)数组重塑方法[filter、concat、slice]
    //(3)数组变动方法[arr.length、arr[index]=newItem]

    /*A:对于编译方法会直接使用，触发obsever
     * B:对于filter、concat、slice不能触发observe
     * C:对于变动，不能触发observe方法，可以采用vue.$set(obj, index, newValue);arr.splice(index)
     * */
    var vm3 = new Vue({
        el: '#dynamic',
        data: {
            list: null
        },
        methods: {
            getData: function () {
                var list = ['one', 'two', 'three', 'four', 'five', 'six'];
                this.$set(this.$data, 'list', list)
            },
            addRandom: function () {
                this.list.push(Math.floor(Math.random() * 10000));
            },
            removeRandom: function () {
                var len = this.list.length;
                var index = Math.floor(Math.random() * len);
                this.list.splice(index, 1);
            }
        }
    });
</script>
<script>
    var vm4 = new Vue({
        el: '#filter',
        data: {
            arr: [1, 9, 3, 5, 4, 8, 4]
        },
        computed:{
            sortArr:function () {
                return this.arr.sort(function (a, b) {
                    return a > b;
                });
            }
        },
        methods: {
            sort: function (event) {
                console.log(event);
                this.$set(this.$data, 'arr', ['a','A','c','M']);
            }
        }
    });
</script>
</body>
</html>