<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Vue组件</title>
    <style>
        fieldset {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="comp">
    <fieldset>
        <legend>自定义组件及特殊标签写法(is)</legend>
        <my-first v-bind:pv="title"></my-first>
        <table>
            <tr is="my-first" v-on:comp="compevt($event)" v-bind:pv="title"></tr>
        </table>

        <ul>
            <li is="my-first" v-bind:pv="title"></li>
        </ul>
    </fieldset>
</div>
<div id="dynamic">
    <fieldset>
        <legend>组件入参和传值</legend>
        <input type="text" v-model="dynamic"/>
        <br/>
        <my-child v-bind:str="dynamic"></my-child>
    </fieldset>
</div>
<div id="commu" style="margin-top:20px;">
    <fieldset>
        <legend>父子组件通讯</legend>
        <label @click="countDecrease">{{count}}</label>
        <br/>
        <button-counter @increase="countIncrease"></button-counter>
        <button-counter v-on:increase="countIncrease"></button-counter>
    </fieldset>
</div>
<div id="custominput">
    <fieldset>
        <legend>自定义input组件,组件内部空间访问使用ref标记文本框</legend>
        <label>价格：</label>
        <currency-input id="p1" v-model="price"></currency-input>
        <label>快递：</label>
        <currency-input id="expres" v-model="express"></currency-input>
        <label>{{total}}</label>
    </fieldset>
</div>

<div id="slot">
    <fieldset>
        <legend>组件slot内容分发</legend>
        <div>
            <span>我是父组件</span>
            <single-slot>
                <button @click="slotClick">测试</button>
            </single-slot>
        </div>
    </fieldset>

    <fieldset>
        <legend>具有名称slot</legend>
        <app-layout>
            <h1 slot="header">落英缤纷掌</h1>

            <p>广州</p>

            <p>深圳</p>

            <p>长沙</p>

            <p>惠州</p>

            <p>南京</p>

            <p>宁德</p>

            <p>瑞安</p>

            <div slot="footer">随风腿....底部</div>
        </app-layout>
    </fieldset>

    <script type="text/template" id="applayout">
        <div>


            <header>
                <slot name="header">这是一个页面的Header</slot>
            </header>
            <main>
                <slot>
                    <p>这是一个正常的段落！</p>

                    <p>这也是一个正常的段落！</p>
                </slot>
            </main>
            <footer>
                <slot name="footer">这是一个页面的footer</slot>
            </footer>
        </div>
    </script>

    <script type="text/template" id="singleslot">
        <div>
            <div>我是子组件</div>
            <!--占位符-->
            <slot>暂时无内容分发</slot>
        </div>
    </script>
</div>


<script src="lib/vue.js"></script>
<script>
    /**
     * 自定义组件里，data必须是function
     * 特殊标签忽略：table中必须要用tr、td
     * ul里面必须需要用li、ol
     */
    Vue.component('my-first', {
        template: '<button v-on:click="$emit(\'comp\')">{{pv}}----{{name}}</button>',
        data: function () {
            return {
                name: 'my first component！'
            }
        },
        props: ['pv']
    });
    var vm = new Vue({
        el: '#comp',
        data: {
            title: 'parent-component'
        },
        methods: {
            compevt: function (e) {
                console.log('child component events！');
            }
        },
        components: {}
    });


    /**
     * 父子组件通讯，parent------->child     props和v-bind:propertys指定
     *              child-------->parent    $emit Event进行发布事件
     */
</script>
<script>
    Vue.component('my-child', {
        template: '<label>Child-Component：<input type="text" v-model="str"/></label>',
        props: {
            str: String
        }
    });
    var vm2 = new Vue({
        el: '#dynamic',
        data: {
            dynamic: ''
        }
    });
</script>
<script>
    Vue.component('button-counter', {
        template: '<button v-on:click="increase">{{num}}</button>',
        data: function () {
            return {
                num: 0
            };
        },
        methods: {
            increase: function () {
                this.num += 1;
                this.$emit('increase');
            }
        }
    });
    var vm4 = new Vue({
        el: '#commu',
        data: {
            count: 0
        },
        methods: {
            countIncrease: function () {
                this.count += 1;
            },
            countDecrease: function () {
                this.count -= 1;
                console.log('execute');
            }
        }
    });
</script>
<script>
    var commonVM = new Vue();

    Vue.component('currency-input', {
        template: ' <span>\
        <label>$</label>\
        <input type="text" ref="input" v-on:input="updateValue" v-bind:value="value"/>\
        </span>',
        props: {
            value: {
                type: Number,
                default: 0.00,
                required: true
            }
        },
        methods: {
            updateValue: function (e) {
                var v = e.target.value;
                if (isNaN(v) || !isFinite(v)) {
                    e.target.value = this.value;
                } else {
                    e.target.value = v;
                }
                this.$emit('input', Number(this.$refs.input.value));
            },
            formatValue: function () {
                this.$refs.input.value = parseFloat(this.value)
            }
        },
        mounted: function () {
            this.formatValue();
        },
        created: function () {
            commonVM.$on('custom-evt', function () {
                console.log(arguments);
            });
        }
    });
    var vm5 = new Vue({
        el: '#custominput',
        data: {
            price: 0.00,
            express: 0.00
        },
        methods: {},
        computed: {
            total: function () {
                return this.price + this.express;
            }
        }
    });

    commonVM.$emit('custom-evt', 'aaaa');
</script>
<script>
    Vue.component('single-slot', {
        template: '#singleslot',
    });

    Vue.component('app-layout', {
        template: '#applayout'
    });
    var vm6 = new Vue({
        el: '#slot',
        data: {
            count: 1
        },
        methods: {
            slotClick: function () {
                alert('分发内容被点击触发了！');
            }
        }
    });
</script>
</body>
</html>