<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Vue计算属性</title>
</head>
<body>
<div id="reverse">
    <div>原字符串：{{str}}</div>
    <div>反转字符串：{{reverseStr}}</div>
    <div>反转字符串：{{reverseStr}}</div>
    <div>反转字符串：{{reverseStr}}</div>
    <div>反转字符串：{{reverseStr}}</div>
    <div>反转字符串：{{reverseStr}}</div>
    <div>反转字符串：{{reverseStr}}</div>
    <div>反转字符串：{{reverseStr}}</div>
    <input type="button" value="更新" @click="update"/>

    <div>当前时间：{{now1()}}</div>
</div>
<div id="watch">
    <div>first name: <input type="text" v-model="firstname"/></div>
    <div>last name: <input type="text" v-model="lastname"/></div>
    <div>fullname: <input type="text" v-model="fullname"/></div>
</div>
<script src="lib/vue.js"></script>
<script>

    var vm1 = new Vue({
        el: '#reverse',
        data: {
            str: 'tyretjisiklb',
            isCase: false,
        },
        computed: {
            //无副作用，只依赖于this.str 的值
            //计算属性的值时进行缓存cache而如果用methods里面的方法是不进行缓存的.
            //支持对象写法或function写法
            reverseStr: {
                get: function () {
                    return this.str.split('').reverse().join('');
                },
                set: function (v) {
                    this.str = v;
                }
            },
            reverseStr2: function () {
                return this.str.split('').reverse().join('');
            }
        },
        methods: {
            update: function () {
                this.isCase = !this.isCase;
                this.str = this.isCase ? this.str.toUpperCase() : this.str.toLowerCase();
            },
            now1: function () {
                return new Date();
            }
        }
    })
</script>
<script>
    var vm2 = new Vue({
        el: '#watch',
        data: {
            firstname: 'qiu',
            lastname: 'mumu',
            fullname: 'qiu mumu'
        },
        //更适合执行异步任务，复杂任务哈！
        watch: {
            firstname: function () {
                this.fullname = this.firstname + ' ' + this.lastname;
            },
            lastname: function () {
                this.fullname = this.firstname + ' ' + this.lastname;
            }
        }
    });
    vm2.$watch('fullname', function () {
        var arr = this.fullname.split(/\s+/g);
        this.firstname = arr[0];
        this.lastname = arr.length > 1 ? arr[1] : '';
    });
</script>
</body>
</html>