<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Vue.js入门介绍</title>
</head>
<body>
<div id="app" :style="{background:bg}" v-bind:title="title" v-on:click="add" @mouseenter="enter" @mouseleave="leave">
    <span>{{test}}</span>
    <div v-if="show">
        <div style="width:100px;height: 100px;border:1px solid lightcoral;border-radius: 5px;"></div>
    </div>
    <button @click="addItem">新增列表项</button>
    <ul>
        <li v-for="item in list"><input type="text" v-model="item.num"/></li>
    </ul>
    <ul>
        <p-item v-for="o in list" v-bind:item="o"></p-item>
    </ul>
</div>

<script src="lib/vue.js"></script>
<script>
    Vue.component('p-item', {
        props:['item'],
        template:'<li>{{item.num}}</li>'
    });
</script>
<script>
    var mv=new Vue({
        el:'#app',
        data:{
            test:'aaaaaaaaaaaaa',
            title:'时间：'+new Date(),
            count:0,
            bg:'transparent',
            show:false,
            list:[]
        },
        methods:{
            add:function(){
                ++this.count;
                console.log(this.count);
            },
            enter:function(){
                this.bg='green';
            },
            leave:function(){
                this.bg = 'transparent';
            },
            addItem:function(e){
                e.stopPropagation();
                this.list.push({num:'新增项：'+ this.count});
            }
        }
    });
</script>
</body>
</html>