{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions"]
      },
      "debug":true
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime",[
      "component",{
        "libraryName": "element-ui",
        "styleLibraryName": "~src/assets/el-theme"
      }]
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
